:root {
    --bg: #23252C;
    --standardText: white;
    --fill: #1A1B21;
    --linkedIn: #5093E2;
    --title: #F3BF99;
    --website: #F5F5F5;
    --footer: #161619;
    --footerIcon: #918E9B;

    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--bg);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container > * {
    color: var(--standardText);
    text-align: center;
    margin: 20px 0;
}

.profile-picture {
    max-width: 317px;
    max-height: 460px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
    padding-bottom: 20px;
}
.contacts a {
    text-decoration: none;
}
/* Buttons Styling General */
.contacts button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    gap: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    
}
.card-info, .card-info img{
    background-color: var(--fill);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
} 

.about, .interests {
    background-color: var(--fill);
    margin: 0;
    max-width: 317px;
    text-align: left;
    padding: 20px 20px;
}
.interests {
    padding-bottom: 50px;
}
.about h2, .interests h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}
.about p, .interests p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    padding: 6px 0;
}
/* Name, title, website and buttons */
.full-name{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.title{
    color: var(--title);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.linkedin, .linkedin a {
    background-color: var(--linkedIn);
    color: var(--standardText);
    text-decoration: none;
}

.socials {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 317px;
    max-width: 317px;
    background-color: var(--footer);
    margin: 0 auto 20px auto;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
}
.socials svg {
    height: 2em;
    color: var(--footerIcon);
}